.cover {
  max-width: 984px;
  max-height: 983;

  opacity: 1;
  color: #ffffff;
  margin: 0 auto;

  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}

.cover__title {
  font-size: 96px;
  line-height: 1;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

.cover__subtitle {
  font-size: 30px;
  max-width: 720px;

  line-height: 1;
  text-align: center;
  margin: 0 auto;
  margin-top: 32px;
}

.cover__image {
  /* margin-top: 40px;
  max-width: 984px;
  max-height: 492px;
  object-fit: cover;

  display: block;
  margin: 0 auto; */

  margin-top: 40px;
  width: 100%;
  padding: 0;
  /* padding-bottom: 100%; */
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: 75px;
    max-width: 530px;
  }

  /* .cover {
    padding: 0 24px;
  } */
}
@media screen and (max-width: 320px) {
  .cover__title {
    line-height: 44px;
    font-size: 40px;
  }

  .cover__subtitle {
    font-size: 16px;
  }

  /* .cover {
    padding: 0 16px;
  } */
}
