/* .gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 4 equal-width columns
  grid-template-rows: repeat(2, auto); 2 rows, height adjusts to content
  gap: 16px; space between items, adjust as you like
  max-width: 1184px; optional: to avoid stretching too wide on large screens
  margin: 0 auto; optional: center the gallery horizontally
  padding-left: 43px;
  padding-top: 118px;
}

.gallery__item {
  overflow: hidden; ensures images don’t overflow
  border-radius: 8px; optional: rounded corners
  make sure the item is the same size that the imag
  width: 100%;
  height: 100%;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover; makes images nicely fill their grid cell
  display: block;
} */

.gallery {
  max-width: 1184px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  gap: 16px;

  margin: 0 auto;
  padding: 100px 43px 0;
  /* padding: 0px 60px 60px; */
}

.gallery__item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

.gallery__image {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.gallery__item:nth-child(5) {
  grid-column: 4/5;
  grid-row: 2/3;
}

.gallery__item:nth-child(6) {
  grid-column: 3/4;
  grid-row: 2/3;
}

.gallery__item:nth-child(7) {
  grid-column: 2/3;
  grid-row: 2/3;
}

.gallery__item:nth-child(8) {
  grid-column: 1/2;
  grid-row: 2/3;
}

/* .gallery__item:nth-child(5) {
  grid-column: 3/6;
  grid-row: span 3;
}

.gallery__item:nth-child(6) {
  grid-column: 1/4;
  grid-row: span 2;
}

.gallery__item:nth-child(7) {
  grid-column: 3/4;
  grid-row: 4;
}

.gallery__item:nth-child(8) {
  grid-column: 3/4;
  grid-row: 4;
} */
