.header {
  max-width: 254.8373565673828;
  max-width: 68.94309997558594;
  transform: rotate(0deg);
  opacity: 1;
  padding-top: 34px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header__logo {
  transform: rotate(0deg);
  opacity: 1;
}

.header__title {
  width: 254.8373565673828;
  height: 14.943096160888672;
  transform: rotate(0deg);
  opacity: 1;
  color: #ffffff;
  font-weight: bold;
}
